{% load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
  <title>Find your Pet!</title>
</head>
<body>
  

<nav class="navbar">
  <a class="navbar__link" href="{% url 'index' %}">Find your Pet!</a>
</nav>
<img id="banner" src="{% static 'pet.png' %}">
<section class="search-section">
    <h1 class="title">look for your next pet and get <span class="title__detail">4 Details</span> About!</h1>

    <form class="form">
      <input class="form__input" type="text" class="form-control" id="buscar-animal" name="buscar" placeholder="Ex: Lion..." aria-label="Buscar animal"/>
      <button type="submit" class="button">Search</button>
      <a href="{% url 'cria_animal' %}"><button class="button" >Register a Pet</a></button>
    </form>
</section>
    {% for caracteristica in caracteristicas%}
<section class="results-section">
  <ul class="results">
    <li class="result">
      <h3 class="result-description">
        Animal Name
      </h3>
      <h2 class="result-title">
        {{caracteristica.nome_animal}}
      </h2>
    </li>
    <li class="result">
      <h2 class="result-description">
        Predator
      </h2>
      <h3 class="result-description">
        {{caracteristica.predador}}
      </h3>
    </li>
    <li class="result">
      <h2 class="result-description">
        Poisonous
      </h2>
      <h3 class="result-description">
        {{caracteristica.venenoso}}
      </h3>
    </li>
    <li class="result">
      <h2 class="result-description">
        Domestic
      </h2>
      <h3 class="result-description">
        {{caracteristica.domestico}}
      </h3>
    </li>
  </ul>
</section>
{% endfor %}
        
</body>
</html>